/* @import '/images/svg2.svg' */

*{
    margin: 0;
    /* background-color:#90e0ef; */
    /* opacity: 0.9; */
    padding: 0;
    box-sizing: border-box;
}

/*----------------------index.ejs css--------------------------*/
/* body{
  background-color:#fff3b0;
  opacity: 0.1;
} */

.login-container{
    margin-top: 120px;
    /* height: 100%; */
    align-content: center;
    /* z-index: 10; */
  }
    
    .login-card{
    /* height: 370px; */
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(35, 108, 126,1) !important;
    /* background-color: rgba(0,0,0,0.5) !important; */
    }
    
    /* .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    } */
    
    /* .social_icon span:hover{
    color: white;
    cursor: pointer;
    } */
    
    .lc-header h3{
    color: white;
    }
    
    /* .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    } */
    
    .input-group-prepend span{
    width: 50px;
    height: 100%;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links>.loginLink{
    margin-left: 4px;
    }
  
    .loginLink{
      color:#FFC312;
    }
  
    .loginLink:hover{
      color: #FFC312;
    }
  

    /* .card{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transform: translateY(100%);
    } */
/* .login-container{
  background-image: url('/images/svg2.svg');
} */
.checkout-card{
  border: none;
  margin-top: 15%;
  /* background-color: black; */
}